<!DOCTYPE html>
<html>
  <head>
    <title>Content Creator</title>
    <link rel="stylesheet" href ="style.css">
	<script src="/js/placeholder.js"></script>
  </head>
  <body>

    <div class="location-create">
        <form action="/contentcreator/location" method="post">
			<h3 class="form-header">Create a Location</h3>
			<label for="locationName">Location Name<span class="required">*</span></label>
			<br/>
            <input type="text" id="locationName" name="locationName" placeholder="Location Name" required>
			<br/>
			<button class="form-submit" type="submit">Create Location</button>
		</form>
    </div>
	<br/>
	<div class="quest-create">
        <form action="/contentcreator/quest" method="post">
			<h3 class="form-header">Create a Quest</h3>
			<label for="questName">Quest Name<span class="required">*</span></label>
			<br/>
            <input type="text" id="questName" name="questName" placeholder="Quest Name" required>
			<br/>
			<label for="questLocation">Location of Quest<span class="required">*</span></label>
			<br/>
            <select name = "questLocation">
			<!--list each Location from database-->
			{{#each locations}}
			<option value="{{id}}">{{locationName}}</option>
			{{/each}}
			</select>
			<br/>
			<label for="statRequired">Stat Type Required to Complete</label>
			<br/>
			<select name = "statRequired">
				<option value = "playerHealth" selected>Health</option>
				<option value = "playerMagic">Magic</option>
				<option value = "strengthStat">Strength</option>
				<option value = "intelligenceStat" selected>Intelligence</option>
				<option value = "defenceStat">Defence</option>
			</select>
			<br/>
			<label for="statMinimum">Stat Amount Required to Complete</label>
			<br/>
            <input type="number" id="statMinimum" name="statMinimum" placeholder="0">
			<br/>
			<button class="form-submit" type="submit">Create Quest</button>
		</form>
    </div>
	<br/>
	<div class="item-create">
        <form action="/contentcreator/item" method="post">
			<h3 class="form-header">Create an Item</h3>
			<label for="itemName">Item Name<span class="required">*</span></label>
			<br/>
            <input type="text" id="itemName" name="itemName" placeholder="Item Name" required>
			<br/>
			<label for="questRewardedFrom">Quest Rewarded From<span class="required">*</span></label>
			<br/>
            <select name = "questRewardedFrom">
			<!--list each Quest from database-->
			{{#each quests}}
			<option value="{{id}}">{{questName}}</option>
			{{/each}}
			</select>
			<br/>
			<label for="statBoosted">Stat Type Boosted</label>
			<br/>
			<select name = "statBoosted" id="statBoosted">
				<option value = "playerHealth" selected>Health</option>
				<option value = "playerMagic">Magic</option>
				<option value = "strengthStat">Strength</option>
				<option value = "intelligenceStat" selected>Intelligence</option>
				<option value = "defenceStat">Defence</option>
			</select>
			<br/>
			<label for="statBoostAmount">Stat Boost Amount</label>
			<br/>
            <input type="number" id="statBoostAmount" name="statBoostAmount" placeholder="0">
			<br/>
			<button class="form-submit" type="submit">Create Item</button>
		</form>
    </div>
	<br/>
  </body>
</html>