<html>
    <head>
        <title>Search</title>
        <link rel="stylesheet" type="text/css" href="mystyle.css">
        <link rel="stylesheet" href ="style.css">
        <script src="/script.js"></script>
    </head>
    <body>
            <p>Hover over table entries for tooltips</p>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Filter by Quest or Item..">
        <table id="myTable">
          <tr class="header">
            <th style="width:60%;">Quest</th>
            <th style="width:40%;">Items</th>
          </tr>

          {{#each quests}}
          <tr>
            <td title="Click to add quest!">{{questName}}</td>
            <td>{{itemName}}</td>
          </tr>
          {{/each}}
        </table>
        
        <div class="myDiv"></div>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Filter by Player or Location..">
        <table id="myTable">
          <tr class="header">
            <th style="width:60%;">Player</th>
            <th style="width:40%;">Location</th>
          </tr>

          {{#each player}}
          <tr>
            <td>{{playerName}}</td>
            <td>{{locationName}}</td>
          </tr>
          {{/each}}
        </table>
        
    </body>
</html>